.card {
    height: 100px;
    width: 50%;

    background-color: #735bf2;
    color: #fff;

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    padding: 24px;
    margin-bottom: 24px;

    align-items: center;
}